div.card
{
    height: 490px;
}
.inputsbox
{
    padding-bottom: 10px;
    color:rgb(73, 73, 73);
}
select 
{
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  background-color: white;
}
.select-box 
{
    margin-bottom: 30px;
}
.inputs
{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background-color: white;
}
.form-control
{
    margin-bottom: 30px; 
}
.btnn 
  {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 7px;
    border: none;
    background-color: #3b71ca;
    --mdb-btn-box-shadow: 0 4px 9px -4px #3b71ca;
    color: #fff;
    cursor: pointer;
  }
  
  .btnn:hover 
  {
    background-color: #356ac7;
  }

  .forgot-password-link 
  {
    margin-top: 70px;
  }